<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.rhunk.snapenhance">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:ignore="RequestInstallPackagesPolicy" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" tools:ignore="all" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" tools:ignore="all" />

    <queries>
        <package android:name="com.snapchat.android" />
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        tools:targetApi="36"
        android:allowBackup="true"
        android:hasFragileUserData="true"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/default_icon"
        android:roundIcon="@mipmap/default_rounded_icon">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Forked by bocajthomas" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:value="com.snapchat.android" />

        <service
            android:name=".bridge.BridgeService"
            android:exported="true"
            android:permission="com.snapchat.android.permission.UPDATE_STICKER_INDEX">
        </service>

        <activity
            android:name=".ui.manager.MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".MainActivityAliasDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/default_icon"
            android:roundIcon="@mipmap/default_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasKing"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/king_icon"
            android:roundIcon="@mipmap/king_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasInverse"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/inverse_icon"
            android:roundIcon="@mipmap/inverse_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasLightBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/light_blue_icon"
            android:roundIcon="@mipmap/light_blue_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasLightGreen"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/light_green_icon"
            android:roundIcon="@mipmap/light_green_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasLightPink"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/light_pink_icon"
            android:roundIcon="@mipmap/light_pink_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasDarkPurple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/dark_purple_icon"
            android:roundIcon="@mipmap/dark_purple_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasGoldenEarth"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/golden_earth_icon"
            android:roundIcon="@mipmap/golden_earth_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasHoneycomb"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/honeycomb_icon"
            android:roundIcon="@mipmap/honeycomb_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasRegalDusk"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/regal_dusk_icon"
            android:roundIcon="@mipmap/regal_dusk_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasCloudNine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/cloud_nine_icon"
            android:roundIcon="@mipmap/cloud_nine_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasZenGarden"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/zen_garden_icon"
            android:roundIcon="@mipmap/zen_garden_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasOceanFlare"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ocean_flare_icon"
            android:roundIcon="@mipmap/ocean_flare_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasCanyonDusk"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/canyon_dusk_icon"
            android:roundIcon="@mipmap/canyon_dusk_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAliasOgSnapEnhance"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/og_snapenhance_icon"
            android:roundIcon="@mipmap/og_snapenhance_rounded_icon"
            android:label="@string/app_name"
            android:targetActivity=".ui.manager.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.setup.SetupActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:excludeFromRecents="true" />

        <activity android:name=".bridge.ForceStartActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:exported="true" />

        <activity android:name=".bridge.BiometricPromptActivity"
            android:theme="@style/BiometricPromptTheme"
            android:excludeFromRecents="true"
            android:exported="true" />

        <receiver android:name=".StreaksReminder" />

        <receiver android:name=".UpdateNotification" />

        <receiver android:name=".Installer"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:exported="true">
            <intent-filter>
                <action android:name="INSTALL_PACKAGE_RESULT" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="me.rhunk.snapenhance.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>